*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: beige;
}

.main{
    min-height: 100vh;
    width: 100%;
}

.main h1{
    margin-left: 40px;
}

.card{
    height: 450px;
    width: 550px;
}

.card img{
    height: 350px;
    width: 350px;
    margin: 10px 0;
}

.card p{
    font-weight: bold;
}

.information{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-bottom:40px;
    justify-items: center;
}

.information div{
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lincked_list{
    width: 50%;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.lincked_list a{
    padding-left: 5px;
}

.navigation{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

nav a{
    padding-right: 15px;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 77, 66);
}