*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1{
    font-weight: 500;
}

body{
    max-width: 1920px;
    background-color: #f9f9f9 ;
}

header{
    background-color: #EEEFF1;
}

.navigation{
    height: 100px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 400px
}
.navigation-items{
    display: flex;
}

.navigation li{
    margin-right: 30px;
    list-style: none;
    cursor: pointer;
}

.intro{
    height: 600px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px
}

.intro-title{
    margin-bottom: 60px;
    font-size: 48px;
}

.intro-description{
    margin-bottom: 65px;
    text-align: start;
    line-height: 26px;
}

.intro button{
    height: 65px;
    width: 225px;
    background-color: #34547A;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.main{
    background-color: #EEEFF1;
}

.about{
    width: 540px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    line-height: 26px;
}

.my-projects{
    background-color: #34547A;
    color: white;
}

.projects{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-item{
    display: flex;
    margin-right: 45px;
}

.projects-item img{
    margin-right: 20px;
}

.my-works{
    background-color: #EEEFF1;
}

.works{
    height: 1000px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.works-title{
    margin-bottom: 50px;
}

.works-description{
    margin-bottom: 57px;
    line-height: 26px;
}

.works img{
    width: 1110px;
    height: 600px;
}

.footer{
    height: 150px;
    background-color: #34547A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info{
    margin-left: 400px;
}

.footer-info h1{
    font-size: 21px;
}